<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Her kan du se info om spesifikke bøker</h1>
    <div class="book">
        <p><%= book.forfatter %></p>
        <p><%= book.tittle %></p>
        <p><%= book.antallSider %></p>
        <p><%= book.forlag %></p>
        <p><%= book.ISBN %></p>
        <p><%= book.arstall %></p>
    </div>

</body>

</html>