<!DOCTYPE html>
<html lang="en">

    <%- include("partials/header") %>

<body>
    <h1>Her kan du se info om spesifikke bøker</h1>
    <div class="book">
        <p><%= book.forfatter %></p>
        <p><%= book.tittle %></p>
        <p><%= book.antallSider %></p>
        <p><%= book.forlag %></p>
        <p><%= book.ISBN %></p>
        <p><%= book.arstall %></p>
        <form action="" method="post">
            <input type="submit" value="Slett">
        </form>
        <a href="/book/edit/<%= book._id %>">Rediger bok</a>
    </div>

</body>

</html>