<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
<body>
    <h1>Her er alle brukerne</h1>
 <div class="users">
    <% users.forEach(function(users) { %>
        <div class="user">
            <ul>
                <li><strong>navn:</strong> <span><%= users.navn %></span></li>
                <li><strong>epost:</strong> <span><%= users.epost %></span></li>
                <li><strong>mobil:</strong> <span><%= users.mobil %></span></li>
                <li><strong>adresse:</strong> <span><%= users.adresse %></span></li>
                <li><strong>passord:</strong> <span><%= users.passord %></span></li>
                <li><strong>rolle:</strong> <span><%= users.rolle %></span></li>
            </ul>
            <form action="/users/<%= users._id %>" method="post">
                <input type="submit" value="Slett">

            </form>
            <a href="/users/<%= users._id %>">Gå til bruker</a>
        </div>
    <% }); %>
 </div>


</body>
</html>