<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Her er alle registrerte bøker</h1>
    <h2><%= books[0].forfatter %></h2>
    <div class="books">
  

        
        <% books.forEach(function(book) { %>
            <div class="book">
                
                <li><%= book.forfatter %></li>
                <li><%= book.tittle %></li>
                <li><%= book.antallSider %></li>
                <li><%= book.forlag %></li>
                <li><%= book.ISBN %></li>
                <li><%= book.arstall %></li>
            </div>
            <% }); %>
        </div>
            
</body>
</html>