<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
<body>
    <div class="wrapper">

        <h1 id="overskrift">Her er alle bøkene</h1>
        <div class="books">
            <% books.forEach(function(books) { %>
                <div class="book">
                    <ul id="booklist">
                        <li><strong>Forfatter:</strong> <span><%= books.forfatter %></span></li>
                        <li><strong>Tittel:</strong> <span><%= books.tittle %></span></li>
                        <li><strong>Antall sider:</strong> <span><%= books.antallSider %></span></li>
                        <li><strong>Forlag:</strong> <span><%= books.forlag %></span></li>
                        <li><strong>ISBN:</strong> <span><%= books.ISBN %></span></li>
                        <li><strong>Årstall:</strong> <span><%= books.arstall %></span></li>
                    </ul>
                    <div class="buttons">

                        <form id="bookform" action="/book/<%= books._id %>"method="post">
                            <input type="submit" value="Slett">
                        </form>
                        <a href="/book/<%= books._id %>">Gå til bøker</a>
                        <a href="/book/edit/<%= books._id %>">Rediger bok</a>
                    </div>
                    
                </div>
                <% }); %>
            </div>
        </div>


</body>
</html>