<html lang="en">
    <%- include("partials/header") %>
<body>
    <h1>Her er brukeren</h1>
        <div class="user">
            <ul>
                <li><strong>navn:</strong> <span><%= user.navn %></span></li>
                <li><strong>epost:</strong> <span><%= user.epost %></span></li>
                <li><strong>mobil:</strong> <span><%= user.mobil %></span></li>
                <li><strong>adresse:</strong> <span><%= user.adresse %></span></li>
                <li><strong>passord:</strong> <span><%= user.passord %></span></li>
                <li><strong>rolle:</strong> <span><%= user.rolle %></span></li>
            </ul>
            <form action="" method="post">
                <input type="submit" value="Slett">
            </form>
        </div>
</body>
</html>